openapi: 3.0.1
info:
  title: WebScraper API
  description: |
    This is a **private API** intended for use by the RopeGeo mobile app. You may test the API freely, but it can be updated at will and without warning (including breaking changes). Do not write code that depends on this API.

    For questions, contact [Ethan Hurst](https://github.com/yurst3) or email 4lrce4@gmail.com.
  version: 1.0.0
  contact:
    name: Ethan Hurst
    email: 4lrce4@gmail.com
    url: https://github.com/yurst3

servers:
  - url: https://api.webscraper.ropegeo.com
    description: API Gateway base URL (override at deployment)

paths:
  /:
    $ref: './paths/getRootRedirect.yaml'
  /routes:
    $ref: './paths/getRoutes.yaml'
  /route/{routeId}/preview:
    $ref: './paths/getRoutePreview.yaml'
  /ropewiki/page/{id}:
    $ref: './paths/getRopewikiPageView.yaml'
  /ropewiki/region/{id}:
    $ref: './paths/getRopewikiRegionView.yaml'
  /ropewiki/region/{id}/images:
    $ref: './paths/getRopewikiRegionImages.yaml'
  /ropewiki/region/{id}/previews:
    $ref: './paths/getRopewikiRegionPreviews.yaml'
  /search:
    $ref: './paths/search.yaml'
  /docs/{file}:
    $ref: './paths/getApiDocs.yaml'
  /mapdata/{path}:
    $ref: './paths/getMapData.yaml'

# API Gateway request validators (see https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-request-validation-set-up.html#api-gateway-request-validation-setup-importing-swagger)
x-amazon-apigateway-request-validators:
  all:
    validateRequestParameters: true
    validateRequestBody: true
  params-only:
    validateRequestParameters: true
    validateRequestBody: false
x-amazon-apigateway-request-validator: all
